.Navbar {
  width: 100%;
  background-color: var(--primary-bg-color);
  /* padding: 0 80px; */
}
.glass-strong-nav {
    -webkit-backdrop-filter: blur(24px) saturate(160%);
    backdrop-filter: blur(24px) saturate(160%);
    background: linear-gradient(#ffffff14, #ffffff08);
    border: 1px solid #ffffff1a;
}
