.fp-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: var(--secondary-bg-color);
  font-family: Arial, sans-serif;
  padding: 20px;
  color: var(--primary-text-color);
}

.fp-card {
  width: 360px;
  background: var(--primary-bg-color);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fp-subtitle {
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;
}

.fp-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.captcha-box {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background: #1dbf73;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background: #17a864;
}

.btn-back {
  margin-top: 15px;
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  width: 100%;
}

.error-text {
  color: #d93025;
  font-size: 13px;
}

.success-text {
  color: #188038;
  font-size: 13px;
}

 .fp-info {
  max-width: 380px;
background: var(--primary-bg-color);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fp-info p {
  font-size: 14px;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
