.login-right{
  /* transform: translateX(-100%); */
  animation: moveBox .7s ease-out;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
@keyframes moveBox {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}

@media (max-width: 750px) {
  .main-login{
    padding: 0;
  }
  .login-body{
    border-radius: 0;
  }
  .login-right{
    border-radius: 0;
  }
}