.trainer-graphs {
  margin-top: 30px;
  padding:clamp(5px,3vw,25px);
  background: var(--secondary-bg-color);
  border-radius: 18px;
}

.trainer-graphs h2 {
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.graphs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.graph-card {
  background: linear-gradient(145deg, #0d172b, #101d36);
  border-radius: 16px;
  padding: 16px;
}

.graph-card h3 {
  color: #cfd8dc;
  font-size: 14px;
  margin-bottom: 10px;
}
@media (max-width: 650px) {
  .trainer-graphs h2 {
    text-align: center;
  }
  .graph-card {
    padding: 10px;
    max-width: 600px;
    min-width: 230px;
}
}
